body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    font-size: 20px;
    line-height: 100%;
    color: #333;
    background:#eee;
  }
  
  header {
    background:#333;
  }
  
  h1 {
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 40px;
  }
  
  a {
    color: #6eabea;
  }
  
  .container {
    width: 1024px;
  }
    p{
      margin-right: 5%;
    }
    
    header {
      background:#333;
    }
    
    h1 {
      padding: 20px;
      margin: 20px;
      margin-bottom: 20px;
      font-size: 50px;
      color: #eee;
      text-align: center;
      background: #333;
    }
    
    h2 {
      font-family: 'Pacifico', cursive;
      font-size: 50px;
    }
    
    a {
      color: #6eabea;
    }
    
    .container {
      width: 1024px;
      margin: 0 auto;
    }
    
    #main-bio,
    #contact-info,
    #bio-image {
      padding-bottom: 5px;
      float: left;
      width: 30%;
    }
    
    #main-bio {
      font-family: 'Lobster', cursive;
      width: 70%;
    }
    
    #contact-info {
      color: #333;
      display: inline;
    }
    input :placeholder:first {
      width: 30%;
    }
    button {
      height: 100%;
      width: 100%;
      background: #6eabea;
    }
    #bio-image {
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
   
  }
  
  #contact-info {
    color: #333;
    width: 30%;
    font-size: 70%;
    margin-left: 0px;
    
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
ul
{
  color: #333
}
  li{
    font-size: 100%;
    font-weight: 100%;
  }
  your-project/
  ├── scss
  │   └── custom.scss
  └── bootstrap/
      ├── js
      └── scss
  