body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 100%;
    color: #333;
    background: #eee;
  }
  
  header {
    background:#333;
  }
  
  h1 {
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 50px;
  }
  
  a {
    color: #6eabea;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    color: #333
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  